<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{user.name}}</p>
  <p>{{text}}</p>
  <p>Created on {{format_date date_created}}</p>
  <p>
    <a href="/blogpost/{{id}}/comment"><button class="btn btn-primary" data-id="{{id}}">Comment</button></a>
  </p>
</div>







<script src="/js/blogpost.js"></script>